{% extends 'posts/index.html' %}

{% block content %}
    <div>all users - {{users|length}}</div>
    <h3>
        <strong>{{ user.username }}</strong> posts</h3>
    <hr>
    <a href="{% url 'create' %}">Create Post</a>
    <ul class="list-unstyled">
    {% for posts in all_posts2 %}
        <li>
            <h2>
                <a href="{{ posts.get_absolute_url }}">{{ posts.title }}</a>
            </h2>
        </li>
    {% endfor %}
    </ul>
    <hr>
    <h2>All posts</h2>
    <ul class="mt-5">
    {% for posts in all_posts %}
        <li>
            <h2>
                <a href="{{ posts.get_absolute_url }}">{{ posts.title }}</a>
            </h2>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
