{% extends 'posts/index.html' %}

{% block content %}
    <a class="d-block mb-4" href="{% url 'create' %}">Create Post</a>

    <ul class="list-unstyled">
    {% for posts in all_posts2.all %}
        <li>
            <a href="{{ posts.get_absolute_url }}">{{ posts.title }}</a>
        </li>
    {% endfor %}
    </ul>

    <hr>

    {% if text %}
        <div class="badge badge-primary text-wrap">
            {{ text }}
        </div>
    {% else %}
        <a href="{% url 'img_create' %}">Create Image</a>
    {% endif %}

    <ul class="list-unstyled">
        {% for img in all_images.all %}
            <img src="/media/{{ img.image }}" alt="{{ img.title }}" width="50" height="auto">
        {% endfor %}
    </ul>

{% endblock %}
